.place__paragraph {
  margin: 0;
  padding: 0;
  line-height: 163%;
  font-size: 18px;
  font-weight: 400;
  padding-top: 26px;
}

.place__paragraph:first-child {
  padding-top: 0;
}

@media screen and (max-width: 984px) {
  .place__paragraph {
    font-size: 16px;
  }
}

